@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

/* body {
    background-image: url('./capstone_Images/anime.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 100px;
    gap: 20px;
}

#flex-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 30px 5%;
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    background-color: rgba(255, 0, 0, 0.4);
    font-family: 'New Tegomin', serif;
}

.nav_links, a {
    display: inline-block;
    background-color: rgba(255, 166, 0, 0.671);
    padding: 0px 30px;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    list-style: none;
}

.nav_links, a:hover{
    color: yellow;
}
h1 {
    color: white;
    grid-column: 1 / 10;
    grid-row: auto;
    text-decoration: underline;
    text-align: center;
    font-family: 'New Tegomin', serif;
}

article {
    font-family: 'New Tegomin', serif;
    font-size: 20px;
    color: orange;
    grid-column: 1 / 3;
    grid-row: 5 / 10;
    border: 3px solid black;
}

.popular {
    text-align: center;
    color: orange;
    background-color: rgba(245, 134, 43, 0.651);
    border: 3px solid orange;  
}

#anime {
    text-align: center; 
    color: black;
    background-color: rgba(243, 234, 234, 0.336);
    border: 3px solid orange;
}

h2 {
    text-decoration: underline;
}

.Content {
    grid-column: 4 / 9;
    grid-row: 5 / 7;
    font-size: 50px;
    color: lightgoldenrodyellow;
    font-family: 'New Tegomin', serif;
}

main {
    grid-column: 2 / 9;
    grid-row: 15 / 18;
    color: lightblue;
    font-family: 'New Tegomin', serif;
    font-size: 30px;
}

.power {
    color: black;
    background-color: rgba(252, 156, 46, 0.61);
    border: 3px solid orange;
}

 tr, th {
    border: 3px solid red;
 }
 th {
     background-color: rgba(247, 53, 53, 0.644);
     color: black;
 }

 td {
    border: 3px solid blue;
    color: black;
    background-color: rgba(74, 241, 253, 0.644);
 }

 footer {
     color:greenyellow;     
     grid-column: 1 / 10;
     grid-row: 26 / 27; 
    font-family: 'New Tegomin', serif;
    font-size: 30px;
 } */

 /* mobile */
 @media only screen and (max-width: 500px) {
    body {
        background-image: url('./capstone_Images/anime.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    
    #grid-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: 100px;
        gap: 20px;
    }
    
    #flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 0;
        padding: 30px 5%;
        grid-column: 1 / 10;
        grid-row: 1 / 2;
        background-color: rgba(255, 0, 0, 0.4);
        font-family: 'New Tegomin', serif;
    }

    nav {
        grid-column:  1 / 10;
        grid-row: 1 / 2 ;
    }
    
    .nav_links, a {
        display: inline-block;
        background-color: rgba(255, 166, 0, 0.671);
        padding: 10px;
        grid-column: 1 / 10;
        grid-row: 1 / 2;
        align-items: center;
        transition: all 0.3s ease 0s;
        font-size: 20px;
        color: white;
        text-decoration: none;
        list-style: none;
    }
    
    .nav_links, a:hover{
        color: yellow;
    }

    h1 {
        color: white;
        font-size: 145%;
        grid-column: 1 / 10;
        grid-row: auto;
        text-decoration: underline;
        text-align: center;
        font-family: 'New Tegomin', serif;
    }

    img {
        grid-column: 1 / 7;
        grid-row: 13 / 14;
        
     }

     #goku {
        grid-column: 1 / 5;
        grid-row: 15 / 16;
        width: 170px;
        height: 170px;
    }

    #naruto {
        grid-column: 7 / 10;
        grid-row: 15 / 16;
        width: 150px;
        height: 150px;
    }
    
    article {
        font-family: 'New Tegomin', serif;
        font-size: 15px;
        color: orange;
        grid-column: 1 / 9;
        grid-row: 8 / 14;
        border: 3px solid black;
    }
    
    .popular {
        text-align: center;
        color: orange;
        background-color: rgba(245, 134, 43, 0.651);
        border: 3px solid orange;  
    }
    
    #anime {
        text-align: center; 
        color: black;
        background-color: rgba(243, 234, 234, 0.336);
        border: 3px solid orange;
    }
    
    h2 {
        text-decoration: underline;
    }
    
    .Content {
        grid-column: 1 / 10;
        grid-row: 4 / 10;
        font-size: 20px;
        color: lightgoldenrodyellow;
        font-family: 'New Tegomin', serif;
    }
    
    main {
        grid-column: 1 / 10;
        grid-row: 19 / 20;
        color: lightblue;
        font-family: 'New Tegomin', serif;
        font-size: 20px;
    }
    
    .power {
        color: black;
        background-color: rgba(252, 156, 46, 0.61);
        border: 3px solid orange;
        grid-column: 1 / 10 ;
        grid-row: 17 / 19;
    }

     tr, th {
        border: 3px solid red;
    }

     th {
         background-color: rgba(247, 53, 53, 0.644);
         color: black;
         font-size: 20px;
    }
    
     td {
        border: 3px solid blue;
        color: black;
        background-color: rgba(74, 241, 253, 0.644);
        font-size: 21px
    }
    
     footer {
         color:greenyellow;     
         grid-column: 1 / 10;
         grid-row: 30 / 31; 
        font-family: 'New Tegomin', serif;
        font-size: 30px;
    }
 }

 /* tablet */

 @media only screen and (min-width: 450px) {
    body {
        background-image: url('./capstone_Images/anime.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    
    #grid-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: 100px;
        gap: 20px;
    }
    
    #flex-container {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0;
        padding: 30px 5%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-color: rgba(255, 0, 0, 0.4);
        font-family: 'New Tegomin', serif;
    }
    nav {
        grid-column: 1 / -1;
        grid: 1 / 2;
    }
    
    .nav_links, a {
        display: inline-block;
        background-color: rgba(255, 166, 0, 0.671);
        padding: 10px;
        align-items: flex-start;
        transition: all 0.3s ease 0s;
        font-size: 20px;
        color: white;
        text-decoration: none;
        list-style: none;
    }
    
    .nav_links, a:hover{
        color: yellow;
    }
    h1 {
        color: white;
        grid-column: 1 / 10;
        grid-row: auto;
        text-decoration: underline;
        text-align: center;
        font-family: 'New Tegomin', serif;
    }
    
    article {
        font-family: 'New Tegomin', serif;
        font-size: 20px;
        color: orange;
        grid-column: 1 / 10;
        grid-row: 11 / 19;
        border: 3px solid black;
    }
    
    .popular {
        text-align: center;
        color: white;
        background-color: rgba(245, 134, 43, 0.39);
        border: 3px solid orange;  
    }
    
    #anime {
        text-align: center; 
        color: white;
        background-color: rgba(20, 1, 1, 0.822);
        border: 3px solid orange;
    }
    
    h2 {
        text-decoration: underline;
    }
    
    .Content {
        grid-column: 1 / 10;
        grid-row: 6 / 11;
        font-size: 30px;
        color: lightgoldenrodyellow;
        font-family: 'New Tegomin', serif;
    }
    
    main {
        grid-column: 1 / 10;
        grid-row: 19 / 21;
        color: lightblue;
        font-family: 'New Tegomin', serif;
        font-size: 20px;
    }

    img {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    #goku {
        grid-column: 5 / 6;
        grid-row: 8 / 9;
        width: 150px;
        height: 300px;
    }

    #naruto {
        grid-column: 6 / 7;
        grid-row: 8 / 9;
        width: 200px;
        height: 300px;
    }
    
    .power {
        color: black;
        background-color: rgba(252, 156, 46, 0.61);
        border: 3px solid orange;
        grid-column: 1 / 10;
        grid-row: 17 / 19;
    }

     tr, th {
        border: 3px solid red;
    }

     th {
         background-color: rgba(247, 53, 53, 0.644);
         color: black;
         font-size: 30px;
    }
    
     td {
        border: 3px solid blue;
        color: black;
        background-color: rgba(74, 241, 253, 0.644);
        font-size: 30px
    }
    
     footer {
         color:rgb(209, 12, 209);     
         grid-column: 1 / 10;
         grid-row: 29 / 30; 
        font-family: 'New Tegomin', serif;
        font-size: 30px;
    }
 }

 /* Desktop */
 @media only screen and (min-width: 1366px) {
    body {
        background-image: url('./capstone_Images/anime.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    
    #grid-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: 100px;
        gap: 20px;
    }
    
    #flex-container {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0;
        padding: 30px 5%;
        grid-column: 1 / 10;
        grid-row: 1 / 2;
        background-color: rgba(255, 0, 0, 0.4);
        font-family: 'New Tegomin', serif;
    }
    
    .nav_links, a {
        display: inline-block;
        background-color: rgba(255, 166, 0, 0.671);
        padding: 0px 30px;
        transition: all 0.3s ease 0s;
        font-weight: 500;
        font-size: 20px;
        color: white;
        text-decoration: none;
        list-style: none;
    }
    
    .nav_links, a:hover{
        color: yellow;
    }
    h1 {
        color: white;
        grid-column: 1 / 10;
        grid-row: auto;
        text-decoration: underline;
        text-align: center;
        font-family: 'New Tegomin', serif;
    }
    
    article {
        font-family: 'New Tegomin', serif;
        font-size: 20px;
        color: orange;
        grid-column: 1 / 3;
        grid-row: 5 / 10;
        border: 3px solid black;
    }
    
    .popular {
        text-align: center;
        color: orange;
        background-color: rgba(245, 134, 43, 0.651);
        border: 3px solid orange;  
    }
    
    #anime {
        text-align: center; 
        color: black;
        background-color: rgba(243, 234, 234, 0.336);
        border: 3px solid orange;
    }
    
    h2 {
        text-decoration: underline;
    }
    
    .Content {
        grid-column: 3 / 8;
        grid-row: 4 / 9;
        font-size: 40px;
        margin-left: 15px;
        color: lightgoldenrodyellow;
        font-family: 'New Tegomin', serif;
    }
    
    img {
        grid-column: 7 / 8;
        grid-row: 9 / 10;
     }

     #goku {
         grid-column: 4 / 6;
         grid-row: 11 / 12
     }

     #naruto {
         grid-column: 7 / 8;
         grid-row: 11 / 12;
     }

    main {
        grid-column: 1 /10;
        grid-row: 16 / 17;
        width: 100%;
    }
    
    .power {
        grid-column: 1 / 10;
        grid-row: 15 / 16;
        color: black;
        background-color: rgba(252, 156, 46, 0.61);
        border: 3px solid orange;
    }

     tr, th {
        border: 3px solid red;
        width: 33.33%;
     }
     th {
         background-color: rgba(247, 53, 53, 0.644);
         color: black;
     }
    
     td {
        border: 3px solid blue;
        color: black;
        background-color: rgba(74, 241, 253, 0.644);
     }

     
    
     footer {
         color:greenyellow;     
         grid-column: 1 / 10;
         grid-row: 23 / 24; 
        font-family: 'New Tegomin', serif;
        font-size: 30px;
     }
 }




