.Website {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(113px, auto);
    gap: 15px;
    
}

@media only screen and (max-width: 700px) {
    
    .Header {
        background-color: grey;
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    
    .Sidebar {
        background-color: rgba(0, 0, 0, 0.800);
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }
    
    .Content {
        background-color: rgba(0, 0, 0, 0.800);
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }
    
    .Sidebar-2 {
        background-color: lightgray;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }
    .Footer {
        background-color: grey;
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 5;
        grid-row: 5 / 6;
    }
}

@media only screen and (min-width: 768px) {
    .Header {
        background-color: grey;
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    
    .Sidebar {
        background-color: rgba(0, 0, 0, 0.800);
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    
    .Content {
        background-color: rgba(0, 0, 0, 0.800);
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 2 / 5;
        grid-row: 2 / 4;
    }
    
    .Sidebar-2 {
        background-color: lightgray;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }
    .Footer {
        background-color: grey;
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 5;
        grid-row: 5 / 6;
    }
}

@media only screen 
    and (min-device-width: 1200px)
    and (max-device-width: 1600px) {
    
        .Header {
        background-color: grey;
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }
    
    .Sidebar {
        background-color: rgba(0, 0, 0, 0.800);
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    
    .Content {
        background-color: rgba(0, 0, 0, 0.800);
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    
    .Sidebar-2 {
        background-color: lightgray;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 4 / 5;
        grid-row: 2 / 4;
    }
    .Footer {
        background-color: grey;
        color: honeydew;
        border-radius: 5px;
        font-size: x-large;
        grid-column: 1 / 6;
        grid-row: 4 / 5;
    }
}